*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(abes\ logo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Project{
    height: 99%;
    width: 100%;
    background-color: rgb(247, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* navcontainer start */
.navcontainer{
    width: 100%;
    /* yeh maine kiya hai */
    height:20vh;
   background-color: rgb(210, 216, 218);
}
#navlist{
    height: 100%;
    width: 100%;
    padding: 20px;
    /* background-color: rgb(212, 141, 123); */
    background: rgb(17,106,80);
    background: linear-gradient(90deg, rgba(17,106,80,1) 0%, rgba(69,217,252,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 3px 3px 1px;
}
.navheader{
    display: flex;
    flex-direction: row;
}
.navheader h1{
    align-self: center;
    font-size: 50px;
    margin-left: 10px;
}
.navheader img{
    border-radius: 50px;
}
.navmain{
    display: none;

}
@media (min-width:900px) {
    .navmain{
        display: flex;
    }
}
.navmain a {
    text-decoration: none;
    color: rgb(245, 238, 238);
    font-size: 25px;
    padding: 10px;
    
}
.navfooter{
    display:none;
    /* display:flex;
    justify-content: space-between; */
    
}
@media (min-width:900px) {
    .navfooter{
        display:flex;
        justify-content: space-between;
    }
}
.navfooter a {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(55, 55, 218);
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.menubutton{
    border-radius: 50px;
    display: none;
}
.menu-icon{
    border-radius: 40px;
    border: none;
    width: 30px;
    height: 30px;
}
@media (max-width:900px) {
    .menubutton{
        display:flex;
    }
}

.main_abes{
    width: 100%;
    height: 60vh;
}

/* footer-container */
.footer-container{
    width: 100%;
    /* height: 20vh; */
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background-color: rgb(212, 141, 123); */
    background: rgb(17,106,80);
    background: linear-gradient(90deg, rgba(17,106,80,1) 0%, rgba(69,217,252,1) 100%);
}
.footer-box{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 3rem;
    gap: 1rem;
}
.left-footer-box{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.study-footer{
    display: flex;
    flex-direction: row;
}
.study-footer img{
    width: 50px;
    border-radius: 50px;
}
.study-footer h2{
    display: flex;
    align-self: center;
    margin-left: 10px;
}
.left-footer-box p{
    margin: 20px;
    margin-left: 0px;
}
.logo-section img{
    width:30px;
    filter: grayscale(1.5);
    border-radius: 50px;
}
.right-footer-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;
    list-style: none;
}
@media  screen and (max-width:900px) {
    .footer-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 4rem;
    }
    .left-footer-box{
        width: 60%;
    }
}
.right-footer-box h3{
    margin-bottom: 2rem;
}
.right-footer-box li{
    margin-bottom: 1rem;
}
#footerlogo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}